body {
	font-family: 'Anton', sans-serif;
font-family: 'Bricolage Grotesque', sans-serif;
font-family: 'Preahvihear', sans-serif;
	background-color: #f8f8f8;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-image: url(https://previews.123rf.com/images/mangpor2004/mangpor20041605/mangpor2004160500099/56383918-to-do-list-background-template.jpg);
  }
  .container {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	width: 300px;
	padding: 20px;
  }
  h1 {
	color: #333;
	margin-top: 0;
  }
  .input-section {
	display: flex;
	margin-bottom: 15px;
  }
  input[type="text"] {
	flex-grow: 1;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 8px;
  }
  button {
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 8px 15px;
	cursor: pointer;
  }
  ul {
	list-style-type: none;
	padding: 0;
  }
  li {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  li.checked {
	text-decoration: line-through;
	background-color: #e0fde0;
  }
  li.deleted {
	animation: fadeOut 1s forwards;
  }
  @keyframes fadeOut {
	0% {
	  opacity: 1;
	}
	100% {o
  opacity: 0;
	}
}
  